
.header {
	display:block;
	width: 100%;
	#position: fixed;
	text-align: center;
	#background-color: white;
	float: left;
}

.header h2 {
	#margin-top: 2px;
}

.name {
	float: left;
	width: 64%;	
	height: 55px;
	text-align: center;
}
.contact {
	height: 57px;	
}
.email  {
	height: 19px;
	display: block;
}

.location {
	height: 20px;
	display: block;
	margin-top: 5px;
	
}

.websites .icon {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.icon {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}

.mailid {
	display: inline;
	text-align: top;
	height: 15px;
	float: left;
	margin-bottom: 5px;
}

.name h2 {
	#height: 16px;
	margin-top: 8px;
}

.contact {
	float: left;
	width: 26%;
	overflow: hidden;
	margin-right: 0px;
	text-align: left;
}

.pbody {
	position: obsolute;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	display: block;	
	float: left;
}

.left-container {
	float: left;
	width:68%;
	#padding: 5px;
}

.experience h3 {
	display: inline;
}

.education h3 {
	display: inline;
}

.nowrap {
	white-space:nowrap;
}

.card {
	
}

.discription {
	display: inline-block;
	text-align: left;
}

.right-container {
	float:left;
	width:30%;
	padding: 5px;
	#margin-left: 10px;
	#margin-right: 10px;
}

.education p {
	font-size: 10px;
	margin: 10px;
}

.body {
	clear: both;
}

.skills {
	#display: inline-block;
}

.blue {
	background-color: #f1f1f1;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.low-margin h2{
	margin: 5px;
	color: skyblue;
}

#desc {
	margin-top: 10px;
	margin-bottom: 10px;
}


